<a href="https://colab.research.google.com/github/Asli-Yilmaz/DataScience-with-Python/blob/main/Bivariate_Num_Num_Analyze.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

height=[60,62,65,68,70,74]
weight=[140,138,150,166,190,250]

np.corrcoef(height,weight)
# correlation matrix, correlation is 0.9298745

array([[1.        , 0.92989745],
       [0.92989745, 1.        ]])

In [2]:
np.corrcoef(height,weight)[0][1]

0.9298974521408027

In [4]:
import pandas as pd
df=pd.read_csv("http://ishelp.info/data/insurance.csv")
df.corr()
# this will give us every numeric feature and their correlation with each other.

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

In [5]:
df.charges.corr(df.bmi)

0.19834096883362895

In [6]:
from scipy import stats
corr=stats.pearsonr(df.charges,df.age)
corr
#that gives correlation and p-value

(0.2990081933306476, 4.8866933317203816e-29)

In [7]:
r,p=stats.pearsonr(df.charges,df.age)
r

0.2990081933306476

In [8]:
p

4.8866933317203816e-29

In [11]:
print(round(r,4))
print(round(p,4))
#p will show 0.0 because its so small
print(round(p,29))

0.299
0.0
5.0000000000000004e-29

In [15]:
corr_df=pd.DataFrame(columns=["r","p"])
for col in df:
  if pd.api.types.is_numeric_dtype(df[col]) and col!="charges":# in here you can't just write col. bc col is just a string(age,sex,bmi...) so it will never work after "if". so we have to say "df[col]"
    r,p=stats.pearsonr(df.charges,df[col])
    corr_df.loc[col]=[round(r,3),round(p,3)]
corr_df

              r      p
age       0.299  0.000
bmi       0.198  0.000
children  0.068  0.013